<%- include('../partials/header') %>

<div class="col-4">
  <h3 class="text-center"><span class="bg"><%= unit.unitName %></span></h3>
</div>

<div class="container text-center">
  <div class="row align-items-start">
    <div class="col-4">
      <table class="table" id="unit-details">
        <thead>
          <tr>
            <th>Genre</th>
            <th>User Name</th>            
            <% if (user?._id.equals(unit.user)) { %>
              <th>Delete</th>
            <% } %>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= unit.genre %></td>
              <td><%= unit.userName %></td>                    
              <td>
                <% if (user?._id.equals(unit.user)) { %>
                  <form action="/units/<%= unit._id %>?_method=DELETE" method="POST">
                    <button type="submit">&times;</button>
                  </form>
                <% } %>
              </td>       
            </tr>
        </tbody>
        <table class="table">
          <thead>
            <th>Description</th>
            <th>Equipment</th>
          </thead>
          <tbody>
            <td><%= unit.description %></td>
            <td><%= unit.equipment %></td>  
          </tbody>
        </table>
      </table>
      <button class="btn btn-secondary btn-sm">
        <a class="text-center" href="/units/<%= unit._id %>/edit">Edit</a>
      </button>      
    </div>
    <div class="col-8">
      <img src="<%= unit.img %>" class="img-fluid" alt="unit-img">
    </div>
  </div>
</div>
  


<%- include('../partials/footer') %>