<%- include('../partials/header') %>


<table id="unit-details">
  <thead>
    <h3><%= unit.unitName %></h3>
    <a href="/units/<%= unit._id %>/edit">Edit</a>
    <tr>
      <th>Genre</th>
      <th>User Name</th>
      <th>Description</th>
      <th>Equipment</th>
      <th>Images</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= unit.genre %></td>
        <td><%= unit.userName %></td>
        <td><%= unit.description %></td>
        <td><%= unit.equipment %></td>       
        <td><img src="<%= unit.img %>" alt="unit-img"></td>
        <td>
          <% if (user?._id.equals(unit.user)) { %>
            <form action="/units/<%= unit._id %>?_method=DELETE" method="POST">
              <button type="submit">&times;</button>
            </form>
          <% } %>
        </td>       
      </tr> 
  </tbody>
</table>
  


<%- include('../partials/footer') %>