<%- include('../partials/header') %>

<!-- TODO re-organise list -->

<table id="armies-list">
    <thead>
      <tr>
        <th>Genre</th>
        <th>Name</th>
        <th>Leader</th>
        <th>Squads</th>
        <th>Units</th>
        <th>Description</th>
        <th>Cover Image</th>
        <th>User Name</th>
      </tr>
    </thead>
    <tbody>
      <% armies.forEach(function(a) { %>
        <tr>
          <td><%= a.genre %></td>
          <td><a href="/armies/<%= a._id %>"><%= a.armyName %></a></td>
          <td><%= a.leader %></td>
          <td>
            <ul>
              <% a.squads.forEach((a) => { %>
                <li><a href="/portfolios"><%= a.squads %></a></li>
              <% }) %>
            </ul>            
          </td>
          <td><%= a.units %></td>
          <td><%= a.description %></td>
          <td>Image example</td>
          <td><%= a.userName %></td>
        </tr> 
      <% }) %>  
    </tbody>
  </table>
  


<%- include('../partials/footer') %>
