<%- include('../partials/header') %>

<!-- TODO re-organise list -->

<section>
  <table class="table" id="army-details">
      <h3><%= army.armyName %></h3>
      <button class="btn btn-sm btn-secondary">
          <a href="/armies/<%= army._id %>/edit">Edit Army</a>    
      </button>
    <thead>
      <tr>
        <th>Genre</th>
        <th>Cover Image</th>
        <th>User Name</th>
        <th>Squads</th>
        <th>Units</th>
        <th>Leader</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= army.genre %></td>
          <td><img src="<%= army.img %>" class="img-thumbnail" width="300" height="300" alt="army-img"></td>
          <td><%= army.userName %></td>
          <td>
            <ul>
              <% army.squads.forEach((s) => { %>
                <li><a href="/squads/<%= s._id %>"><%= s.squadName %></a></li>
              <% }) %>
            </ul>
          </td>
          <td>
            <ul>
              <% army.units.forEach((u) => { %>
                <li><a href="/units/<%= u._id %>"><%= u.unitName %></a></li>
              <% }) %>
            </ul>
            <td><%= army.leader %></td>
            <td>
                <% if (user?._id.equals(army.user)) { %>
                  <form action="/armies/<%= army._id %>?_method=DELETE" method="POST">
                    <button type="submit">&times;</button>
                  </form>
                <% } %>
              </td>       
          </td>
        </tr> 
    </tbody>
    <table>
        <thead>
        <th>Description</th>
        </thead>
        <tbody>
            <td><%= army.description %></td>
        </tbody>
    </table>
  </table>
</section>

<br>


<%- include('../partials/footer') %>
