<%- include('../partials/header') %>


<table id="squad-details">
  <thead>
    <h3><%= squad.squadName %></h3>
    <a href="/squads/<%= squad._id %>/edit">Edit</a>
    <tr>
      <th>Genre</th>
      <th>User Name</th>
      <th>Leader</th>
      <th>Description</th>
      <th>Equipment</th>
      <th>Units</th>
      <th>Images</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= squad.genre %></td>
        <td><%= squad.userName %></td>
        <td><%= squad.leader %></td>
        <td><%= squad.description %></td>
        <td><%= squad.equipment %></td>
        <td></td>       
        <td>
          <ul>
            <% squad.units.forEach((u) => { %>
              <li><a href="/units/<%= u._id %>"><%= u.unitName %></a></li>
            <% }) %>
          </ul>
        </td>
        <td><img src="<%= squad.img %>" class="img-fluid" alt="squad-img"></td>
        <td>
          <% if (user?._id.equals(squad.user)) { %>
            <form action="/squads/<%= squad._id %>?_method=DELETE" method="POST">
              <button type="submit">&times;</button>
            </form>
          <% } %>
        </td>       
      </tr> 
  </tbody>
</table>
  


<%- include('../partials/footer') %>
