<%- include('../partials/header') %>

<section>
    <h3>Edit Portfolio</h3>
    <br>
    
    <form class="row g-3" id="edit-portfolio" action="/portfolios/<%= portfolio._id %>?_method=PUT" method="POST">
        <div class="col-md-6">
            <label class="form-label">Portfolio Name</label>
                <input class="form-control" type="text" name="pfName" value="<%= portfolio.pfName %>">
        </div>
        <div class="col-md-6">
            <label class="form-label">Genre</label>
                <input class="form-control" type="text" name="genre" value="<%= portfolio.genre %>">
        </div>
        <div class="col-md-4">
            <button class="btn btn-lg btn-success" type="submit">Edit Portfolio</button>
        </div>
    </form>
</section>



<%- include('../partials/footer') %>
