<%- include('../partials/header') %>

<!-- TODO re-organise list -->

<section>
  <table id="portfolio-details">
    <thead>
      <h3><%= portfolio.pfName %></h3>
      <tr>
        <th>Genre</th>
        <th>Cover Image</th>
        <th>User Name</th>
        <th>Armies</th>
        <th>Squads</th>
        <th>Units</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= portfolio.genre %></td>
          <td>Image example</td>
          <td><%= portfolio.userName %></td>
          <td>
            <ul>
              <% portfolio.armies.forEach((a) => { %>
                <li><a href="/armies/<%= a._id %>"><%= a.armyName %></a></li>
              <% }) %>
            </ul>
          </td>
          <td>
            <ul>
              <% portfolio.squads.forEach((s) => { %>
                <li><a href="/squads/<%= s._id %>"><%= s.squadName %></a></li>
              <% }) %>
            </ul>
          </td>
          <td>
            <ul>
              <% portfolio.units.forEach((u) => { %>
                <li><a href="/units/<%= u._id %>"><%= u.unitName %></a></li>
              <% }) %>
            </ul>
            <td>
              <% if (user?._id.equals(portfolio.user)) { %>
                <form action="/portfolios/<%= portfolio._id %>?_method=DELETE" method="POST">
                  <button type="submit">&times;</button>
                </form>
              <% } %>
            </td>       
          </td>
        </tr> 
    </tbody>
  </table>
</section>

<br>



<%- include('../partials/footer') %>
