<%- include('../partials/header') %>



<table id="portfolio-details">
  <thead>
    <h3><%= portfolio.pfName %></h3>
    <tr>
      <th>Genre</th>
      <th>Cover Image</th>
      <th>User Name</th>
      <th>Armies</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= portfolio.genre %></td>
        <td>Image example</td>
        <td><%= portfolio.user %></td>
        <td><%= portfolio.armies %></td>
      </tr> 
  </tbody>
</table>


<%- include('../partials/footer') %>
